{% block content %}
<!-- {% include "cxcalendar.html" %} -->
<link rel="stylesheet" href="/static/css/bootstrap.css" media="screen">
<link rel="stylesheet" href="/static/css/jquery-ui.min.css" media="screen">
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/admin/js/promotion.js"></script>
<script src="/static/admin/js/jquery.dragsort-0.5.1.js"></script>
<link rel="stylesheet" href="http://jqueryui.com/resources/demos/style.css">


<table class="table">
    <thead>
        <!-- <th>Select</th> -->
        <th></th>
        <th>Image</th>
        <th>Name</th>
        <th>Attributes</th>
        <th>SKU</th>
        <th>Original Price</th>
        <th>Price</th>
        <!-- <th>Currency Price</th> -->
        <th>Qty</th>
        <th>Weight</th>
        <th>Status</th>
        <!-- <th>Supplier</th> -->
        <th>Is gift</th>
        <th>created</th>
        <!-- <th>Remark</th> -->
        <th>Action</th>
    </thead>
    <tbody id="checkList">
        {% for o in orderitems %}
        <tr>
            <td><input type="checkbox" value="{{ o.id }}" name="item_list"></td>
            <td>
                {% for key,value in image_list.items %}
                    {% if o.product_id == key %}
                    {% if value　%}
                        <img src="{{ value }}" style="width: 90px;height: 100px">
                    {% endif%}
                    {% endif %}
                {% endfor %}
            </td> 
            <td><a href="{{ o.link }}" target="_blank" >{{ o.name }}</a></td>
            <td>{{ o.attributes }}</td> 
            <td>{{ o.sku }}</td> 
            <td>{{ o.original_price }}</td> 
            <td>{{ o.price }}</td> 
            <td>{{ o.quantity }}</td> 
            <td>{{ o.weight }}</td> 
            <td>{{ o.status }}</td> 
            <td>{{ o.is_gift }}</td> 
            <td>{{ o.created }}</td>  
            <td>
                <input style="float:left;" class="btn btn-default btn-xs" type='button' value="--Edit--" onclick="item_edit({{ order_id }},{{ o.id }})">
                <br><br>
                <input style="float:left;" class="btn btn-default btn-xs" type='button' value="Cancel" onclick="item_cancel({{ order_id }},{{ o.id }})">
            </td>  
            <!-- <td><input type='button' value="Edit" id="btn_edit_item"></td>   -->
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<br>
<button onclick="order_item_outstock()" class="btn btn-default btn-sm" ><strong>产品缺货</strong></button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<label>预计到货天数：</label><input type="text" id="baodeng_day">
<button onclick="baodeng()" class="btn btn-default btn-sm" ><strong>通知报等</strong></button>
<br>
<br>
<button id="btn-add-product" class="btn btn-default btn-sm" ><strong>Add Product</strong></button>
<input type="hidden" id="order_id" name="order_id" value="{{ order_id }}" />
<style type="text/css">
    fieldset label, fieldset input {display:block;}
    fieldset input.text {width:240px}
    fieldset label, legend {font-weight: bold}
</style>
<!--添加产品-->
<div id="dialog-add-product" title="Add product to this order">
    <form id="frm-add-product">
        {% csrf_token %}
        <input type="hidden" id="add-order_id" name="order_id" value="{{ order_id }}" />
        <fieldset id="add-basic">
            <legend>Basic</legend>
            <label for="add-sku">SKU</label>
            <input type="text" name="sku" id="add-sku" class="text ui-widget-content ui-corner-all" />
            <label for="add-quantity">Quantity(不填默认为1)</label>
            <input type="text" name="quantity" id="add-quantity" class="text ui-widget-content ui-corner-all" />
            <label for="add-price">Price(不填默认为0)</label>
            <input type="text" name="price" id="add-price" class="text ui-widget-content ui-corner-all" />
            <!--<label for="add_attribute">Attribute</label>-->
            <!--<select id="add_attribute" class="text ui-wdiget-content ui-corner-all"></select>-->
        </fieldset>
    </form>
</div>
<!--编辑产品-->
<div id="dialog-edit-product" title="Edit product">
    <form id="frm-edit-product">
        {% csrf_token %}
        <fieldset id="edit-basic">
            <legend>Basic</legend>
            <label for="edit-quantity">Qty</label>
            <input type="text" name="quantity" id="edit-quantity" class="text ui-widget-content ui-corner-all"/>
            <label for="edit-price">Price</label>
            <input type="text" name="price" id="edit-price" class="text ui-widget-content ui-corner-all" />
        </fieldset>
    </form>
</div>



<script type="text/javascript">
    $(document).ready(function(){
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
        //根据输入的sku获取产品attribute
        $("#add-sku").on("change",function(){
            return false;//用不到，保留
            var type = "add_sku";
            var sku = $(this).val();
            $.ajax({
                type: "POST",
                data: {
                    type:type,
                    sku:sku
                    },
                url: "{% url 'orderitem_add_ajax' %}",
                cache: false,
                dataType: "html",
                success: function (data) {
                    var data = $.parseJSON(data)
                    if (data.product_sku == 'success'){
                        $.each(data.size,function(indes,value){
                            console.log(value);
                        });
                    } else {
                        alert("sku错误");
                    }
                },
                error:function(){
                  //  alert("false");
                },
            });
        });

        //点击添加产品按钮时的时间，弹出ui窗口
        $("#btn-add-product")
            .button()
            .click(function(){
                $("#dialog-add-product").dialog("open");
        });

        // dialog窗口的数据处理
        $('#dialog-add-product').dialog({
            autoOpen: false,
            width:320, 
            height:420, 
            modal: true, 
            buttons: {
                "Add": function () {
                    var type = "add_product";
                    var sku = $("#add-sku").val();
                    var qty = $("#add-quantity").val();
                    var price = $("#add-price").val();
                    //var size = $("#add_attribute").val();
                    var order_id = $("#order_id").val();
                    $.ajax({
                        type: "POST",
                        data: {
                            type:type,
                            sku:sku,
                            qty:qty,
                            price:price,
                            order_id:order_id,
                            //size:size
                            },
                        url: "{% url 'orderitem_add_ajax' %}",
                        cache: false,
                        dataType: "json",
                        success: function (data) {
                            if (data.status == 1) {
                                $('#dialog-add-product').dialog('close');
                                window.location.reload(true);
                            }else{
                                alert(data.message);
                            }
                        },
                        error:function(){
                            // alert("false");
                        },
                    });
                }, 
                "Cancel": function () {
                    // $('#add-customize').remove();
                    $('#dialog-add-product').dialog('close');
                    //window.location.reload(true);
                }
            }, 
            close: function() {
                    // $('#edit-customize').remove();
            }
        });

        //编辑ui弹窗ajax,此处ajax不能删，否则编辑页面会在打开订单时就显示，切下面的item_edit方法失效
        $('#dialog-edit-product').dialog({
            autoOpen: false,
            width: 320,
            height: 420,
            modal: true,
            buttons: {
                "Save": function(){
                    alert(order_id);
                },
                "Cancel": function(){
                    $('#dialog-edit-product').dialog('close');
                }
            },
            close: function(){

            }
        });

    });

    function item_edit(order_id,orderitem_id){
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
        //弹出编辑页面窗口及数据传递处理ajax
        $("#dialog-edit-product").dialog("open");

        $('#dialog-edit-product').dialog({
            autoOpen: false,
            width: 320,
            height: 420,
            modal: true,
            buttons: {
                "Save": function(){
                    var type = 'edit_item';
                    var qty = $('#edit-quantity').val();
                    var price = $('#edit-price').val();

                    $.ajax({
                        type: 'POST',
                        data: {
                            type:type,
                            qty:qty,
                            price:price,
                            order_id:order_id,
                            orderitem_id:orderitem_id
                            },
                        url: "{% url 'orderitem_add_ajax' %}",
                        dataType: 'html',
                        success: function(data){
                            var data = $.parseJSON(data)
                            if (data.status == 1){
                                $("#dialog-edit-product").dialog('close');
                                window.location.reload(true);
                            } else {
                                window.alert(data.message);
                            }
                        },
                        error: function(){
                           // alert('false');
                        }
                    });
                },
                "Cancel": function(){
                    $('#dialog-edit-product').dialog('close');
                    //window.location.reload(true);
                }
            },
            close: function(){

            }
        });
    };

    function item_cancel(order_id,orderitem_id){
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
        var type = 'cancel_item'
        if (window.confirm('确定要取消该行订单产品？')){
            $.ajax({
                type: 'POST',
                data: {
                    type:type,
                    order_id:order_id,
                    orderitem_id:orderitem_id
                    },
                url: "{% url 'orderitem_add_ajax' %}",
                dataType: 'html',
                success: function(data){
                    var data = $.parseJSON(data);
                    if (data.status == 1){
                        window.location.reload(true);
                    } else {
                        alert(data.message);
                    }
                },
                error: function(){
                   // alert('false');
                }
            });
        }
    };
</script>

<script type="text/javascript">
    function order_item_outstock(){
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
        //获取勾选的产品对象
        var item_list = [];
        var obj=document.getElementsByName('item_list');
        for(var i=0;i<obj.length;i++){
            if(obj[i].checked){
                item_list[i] = obj[i].value;
            }
        }

        var order_id = $("#order_id").val();
        var dict = {};
        dict['type'] = "order_item_outstock";
        dict['order_id'] = order_id;
        dict['item_list'] = JSON.stringify(item_list);

        if(item_list.length>0 && order_id) {
            $.ajax({
                type: "POST",
                data: dict,
                url: "{% url 'order_item_outstock_ajax' %}",
                cache: false,
                dataType: "json",
                success: function(data){
                    alert(data['result']);
                },
                error: function(){
                    alert('Failed!4');
                }
            });
        }else{
            alert("请选择缺货的产品.");
        }
  };

    function baodeng(){
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });

        //获取勾选的产品对象
        var item_list = [];
        var obj=document.getElementsByName('item_list');
        for(var i=0;i<obj.length;i++){
            if(obj[i].checked){
                item_list[i] = obj[i].value;
            }
        }

        var order_id = $("#order_id").val();
        var day = $("#baodeng_day").val();
        var dict = {};
        dict['type'] = "baodeng";
        dict['day'] = day;
        dict['order_id'] = order_id;
        dict['item_list'] = JSON.stringify(item_list);

        if(item_list.length>0 && order_id && day) {
            $.ajax({
                type: "POST",
                data: dict,
                url: "{% url 'order_item_outstock_ajax' %}",
                cache: false,
                dataType: "json",
                success: function(data){
                    alert(data['result']);
                },
                error: function(){
                    alert('Failed!2');
                }
            });
        }else{
            alert("请填写天数并选择需要报缺的产品.");
        }


    };
</script>


<!-- <script type="text/javascript">
    $('.date').cxCalendar();

    function selectAll(selelct_all,checkbox_name) {
        var obj = document.getElementById(selelct_all);
        var cks = document.getElementsByTagName("input");
        var ckslen = cks.length;
        if (obj.checked){
            for(var i=0;i<ckslen;i++) {
                if(cks[i].type == "checkbox" && cks[i].name==checkbox_name) {
                    cks[i].checked = true;
                }
            }
        }else{
            for(var i=0;i<ckslen;i++) {
                if(cks[i].type == "checkbox" && cks[i].name==checkbox_name) {
                    cks[i].checked = false;
                }
            }
        }
    }

    function submitForm(method){
        if(method == 'product_supplier_show'){
            document.getElementById('record').value = 'search';
            document.myFrom.submit();
        }
        if(method == 'product_supplier_export'){
            document.getElementById('record').value = 'export';
            document.myFrom.submit();
        }
    }
</script> -->
{% endblock %}
