{% extends "base_header.html" %}
{% block content %}
{% include "cxcalendar.html" %}

<fieldset class="pro-sel">
<div class="sel-box">
    <table class="table table-hover">
        <tr>
            {% for i in hender %}
            <td><strong>{{ i }}</strong></td>
            {% endfor%}
        </tr>
        {% for sku in skuarr %}
            {% for product in products %}
                {% if sku == product.sku %}
                    <tr>
                        <td>{{ product.sku }}</td>
                        {% for key,value in images.items %}
                            {% if key == product.id %}
                                <td><image style="width: 100px;height: auto;" src="{{ value }}"/></td>
                            {% endif %}
                        {% endfor %}
                        <td>{{ product.offline_factory }}</td> <!-- 现价待处理 -->
                        <td>{{ product.offline_sku }}</td>
                        <td>{{ product.stock }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </table>
</div>
</div>
</fieldset>




<script type="text/javascript">
    $('.date').cxCalendar();

    function selectAll(selelct_all,checkbox_name) {
        var obj = document.getElementById(selelct_all);
        var cks = document.getElementsByTagName("input");
        var ckslen = cks.length;
        if (obj.checked){
            for(var i=0;i<ckslen;i++) {
                if(cks[i].type == "checkbox" && cks[i].name==checkbox_name) {
                    cks[i].checked = true;
                }
            }
        }else{
            for(var i=0;i<ckslen;i++) {
                if(cks[i].type == "checkbox" && cks[i].name==checkbox_name) {
                    cks[i].checked = false;
                }
            }
        }
    }

    function submitForm(method){
        if(method == 'product_supplier_show'){
            document.getElementById('record').value = 'search';
            document.myFrom.submit();
        }
        if(method == 'product_supplier_export'){
            document.getElementById('record').value = 'export';
            document.myFrom.submit();
        }
    }
</script>
{% endblock %}
