{% extends "base_header.html" %}
{% block content %}
{% include "cxcalendar.html" %}
<style>
    textarea{
        height: 200;
        width: 180;
    }
</style>


<fieldset class="pro-sel">
<div class="sel-box">
    <h3>产品CSV导入操作</h3>
    <hr>
    <div class="container-fluid">
        <div class="row">
        <!--     <div class="col-md-3">
                <form class="form-inline" role="form" enctype="multipart/form-data" method="post" action="{% url 'product_handle' %}">
                    {% csrf_token %}
                         <div class="mb5">
                                <label class="control-label" >请选择标签进行操作：</label>
                                <select name="tag"  class="form-control">
                                    {% for obj in tag %}
                                    <option value="{{ obj.id }}">{{obj.name }}</option>
                                    {% endfor %}
                                </select>
                          </div>
                    <input type="hidden" name="type" value="do_tag">
                    <label class="control-label" for="fileInput" ><strong>批量tag产品关联: </strong></label>

                    <label class="notice">
                        <div class="red">注意： (会覆盖原来的标签产品数据)</div>
                        <div>一行一个SKU: </div>
                        </label>
                    
                    <textarea name="skus" class="form-control"  rows="5"></textarea>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col-md-3">
                <form class="form-inline" role="form" enctype="multipart/form-data" method="post" action="{% url 'product_handle' %}">
                    {% csrf_token %}
                        <div class="mb5">
                                <label class="control-label" >请选择标签进行操作：</label>
                                <select name="tag" class="form-control">
                                {% for obj in tag %}
                                    <option value="{{ obj.id }}">{{obj.name }}</option>
                                {% endfor %}
                                </select>
                        </div>
                    <input type="hidden" name="type" value="do_tag_insert">
                    <label class="control-label" for="fileInput" >批量tag产品关联: </label>
                    <label class="notice">
                        <div class="red">注意： (添加数据不会覆盖原始数据)</div>
                        <div>一行一个SKU: </div>
                        </label>
                    
                    <textarea name="skus" class="form-control"  rows="5"></textarea>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div> -->
            <div class="col-md-3">
            <h3>产品——标签批量操作</h3>
                <form class="form-inline" role="form" enctype="multipart/form-data" method="post" action="{% url 'product_handle' %}">
                    {% csrf_token %}
                    <label  ><strong>批量导入SKU-TagId关联: </strong></label>
                    <input type="hidden" name="type" value="sku_tagid_relate">
                    <input id="file" type="file" class="input-file" name="file">
                    <label class="notice">
                        <div style="color: red;">CSV模板: SKU,TagId (多个TagId以" , "隔开)</div>
                    </label>
                    <br>
                    <button type="submit" class="btn btn-default btn-sm"><strong> Bulk Upload </strong></button>
                    <a href = "/static/downloadfiles/import_sku_tagid.csv">csv文件模板下载</a>
                </form>
            </div>
            <div class="col-md-3">
                <h3>产品——状态批量操作</h3>
                <form class="form-inline" role="form" enctype="multipart/form-data" method="post" action="{% url 'show_hidden_on_out' %}">
                    {% csrf_token %}
                    <label for="fileInput" ><strong>产品批量操作: </strong></label>
                    <select name="type">
                        <option value="products_hidden">产品批量隐藏</option>
                        <option value="products_show">产品批量显示</option>
<!--                         <option value="onstock">产品批量上架</option>
                        <option value="outstock">产品批量下架</option> -->
                    </select>
                    <br>
                    <input type="file" name="skus" class="input-file">
                    <button type="submit" class="btn btn-default btn-sm"><strong> Submit </strong></button>
                    <a href = "/static/downloadfiles/sku.csv">csv文件模板下载</a>
                </form>
            </div>
            <div class="col-md-3">
                <h3>产品——分类批量操作</h3>
                <form class="form-inline" role="form" enctype="multipart/form-data" method="post" action="{% url 'category_product' %}">
                {% csrf_token %}
                <div>
                    <label class="control-label" >请选择操作：</label>
                    <select name="type" >
                        <option value="category_add">批量分类产品添加</option>
                        <option value="related">批量分类产品关联 (会覆盖原来的标签产品数据)</option>
                        <option value="category_top">批量分类产品置顶显示</option>
                        <option value="position_zerro">批量分类Position置零</option>
                        <option value="products">导出分类下的产品</option>
                        <option value="delete_products">删除分类下的所有产品</option>
                        <!-- <option value="postion">批量营销分类Position设置</option> -->
                    </select>
                </div>
                <div>
                    <label class="control-label" >请选择分类进行操作：</label>
                        <select name="tag">
                        {% for obj in category %}
                            <option value="{{ obj.id }}">{{obj.link}}</option>
                        {% endfor %}
                        </select>
                </div>
                <div>
                    <input type="file" name="skus" class="input-file">
                </div>
                <button type="submit" class="btn btn-default btn-sm"><strong> Submit </strong></button>
                <a href = "/static/downloadfiles/sku.csv">csv文件模板下载</a>
                </form>
            </div>
            <div class="col-md-3">
                <div class="sel-li">
                <h3>批量营销分类Position设置</h3>
                <form class="form-inline" role="form" enctype="multipart/form-data" method="post" action="{% url 'product_handle' %}">
                    {% csrf_token %}
                    <input type="hidden" name="type" value="category_position_set">
                    <div>
                        <label class="control-label" >请选择分类：</label>
                        <select name="category_id">
                        {% for obj in category %}
                            <option value="{{ obj.id }}">{{obj.link}}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="mb5">
                        <label><div class="red">格式如下:<p>BZ000P68,2</p><p>DR000PCE,3</p></div></label>
                    </div>
                    <div class="mb4">
                        <textarea name="skus" class="form-control"  rows="8"></textarea>
                    </div>
                    <div class="mb5">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <a href="https://www.choies.com/api/newvip1" target="_blank">VIP用户数据更新</a> &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://www.choies.com/api/color_product" target="_blank">同款不同色数据同步</a>
    <br>
</div>
</fieldset>

<fieldset class="pro-sel">
<div class="sel-box">
    <h3>产品导出相关</h3>
    <fieldset class="pro-sel">
    <div class="sel-li">
        <form class="form-inline" role="form" enctype="multipart/form-data" method="post" action="{% url 'product_handle' %}" target="blank">
            {% csrf_token %}
                    <div class="mb5">
                        <input type="hidden" name="type" value="export_cost">
                        <label>
                            <strong>产品 成本/原售价/现售价 导出: </strong>
                        </label>
                    </div>
                    <div class="mb5">
                        <label><div class="red">注意：一行一个产品SKU</div></label>
                    </div>
                    <div class="mb5">
                        <textarea name="skus" class="form-control"  rows="5"></textarea>
                    </div>
                    <div class="mb5">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
        </form>
    </div>
    <!--<div class="sel-li">-->
        <!--<form class="form-inline" role="form" enctype="multipart/form-data" method="post" action="{% url 'product_handle' %}">-->
            <!--{% csrf_token %}-->
                    <!--<div class="mb5">-->
                         <!--<input type="hidden" name="type" value="export_store_sku">-->
                        <!--<label><strong>批量输入store，导出sku: </strong></label>-->
                    <!--</div>-->
                    <!--<div class="mb5">-->
                            <!--<label><div class="red">注意：一行一个store,不要输入重复</div></label>-->
                    <!--</div>-->
                    <!--<div class="mb5">-->
                            <!--<textarea name="stores" class="form-control"  rows="5"></textarea>-->
                    <!--</div>-->

            <!--<button type="submit" class="btn btn-primary">导出</button>-->
        <!--</form>-->
    <!--</div>-->
    <!--<div class="sel-li">-->
        <!--<form class="form-inline" role="form" enctype="multipart/form-data" method="post" action="{% url 'product_handle' %}">-->
            <!--{% csrf_token %}-->
                    <!--<div class="mb5">-->
                         <!--<input type="hidden" name="type" value="export_products_info">-->
                        <!--<label><strong>产品信息批量导出: </strong></label>-->
                    <!--</div>-->
                    <!--<div class="mb5">-->
                            <!--<label><div class="red">注意：一行一个产品SKU</div></label>-->
                    <!--</div>-->
                    <!--<div class="mb5">-->
                            <!--<textarea name="skus" class="form-control"  rows="5"></textarea>-->
                    <!--</div>-->

            <!--<button type="submit" class="btn btn-primary">导出</button>-->
        <!--</form>-->
    <!--</div>-->
    <div class="sel-li">
        <form class="form-inline" role="form" enctype="multipart/form-data" method="post" action="{% url 'product_handle' %}" target="blank">
            {% csrf_token %}
            <div class="mb5">
                         <input type="hidden" name="type" value="export_thumb_sku">
                        <label>
                            <strong>产品缩略图,线下供货商,线下SKU,库存信息 导出: </strong>
                        </label>
            </div>
            <div class="mb5">
                        <label><div class="red">注意：一行一个SKU,请输入产品SKU</div></label>
            </div>
            <div class="mb5">
                        <textarea name="skus" class="form-control"  rows="5"></textarea>
             </div>
             <button type="submit" class="btn btn-primary">导出</button>
        </form>
    </div>
    <div class="sel-li">
        <form class="form-inline" role="form" enctype="multipart/form-data" method="post" action="{% url 'product_handle' %}">
            {% csrf_token %}
            <div class="mb5">
                        <input type="hidden" name="type" value="export_admin_by_sku">
                        <label><strong>导出Admin: </strong></label>
            </div>
            <div class="mb5">
                        <label><div class="red">注意：一行一个SKU,请输入产品SKU</div></label>
            </div>
            <div class="mb5">
                        <textarea name="skus" class="form-control"  rows="5"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">导出</button>
        </form>
    </div>
    <div class="sel-li">
    <form class="form-inline" role="form" enctype="multipart/form-data" method="post" action="{% url 'product_handle' %}">
        {% csrf_token %}
        <div class="mb5">
                    <input type="hidden" name="type" value="attributes_by_skus">
                    <label><strong>批量sku查询attributes : </strong></label>
        </div>
        <div class="mb5">
                    <label><div class="red">注意：一行一个SKU,请输入产品SKU</div></label>
        </div>
        <div class="mb5">
                    <textarea name="skus" class="form-control"  rows="5"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">提交</button>
    </form>
    </div>
         <div class="sel-li">
    <form class="form-inline" role="form" enctype="multipart/form-data" method="post" action="{% url 'product_handle' %}">
        {% csrf_token %}
        <div class="mb5">
                    <input type="hidden" name="type" value="info_by_skus">
                    <label><strong>产品信息批量导出 : </strong></label>
                    <p>导出字段:SKU，产品名称，尺码，重量，细节详情，图片链接</p>
        </div>
        <div class="mb5">
                    <label><div class="red">注意：一行一个SKU,请输入产品SKU</div></label>
        </div>
        <div class="mb5">
                    <textarea name="skus" class="form-control"  rows="5"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">提交</button>
    </form>
    </div>
    <!--<div class="sel-li">-->
        <!--<form class="form-inline" role="form" enctype="multipart/form-data" method="post" action="{% url 'product_handle' %}">-->
            <!--{% csrf_token %}-->
            <!--<div class="mb5">-->
                         <!--<input type="hidden" name="type" value="export_admin">-->
                        <!--<label>线下供货商导出SKU: <strong></strong></label>-->
            <!--</div>-->
            <!--<div class="mb5">-->
                        <!--<label>请输入线下供货商</label>-->
            <!--</div>-->
            <!--<div class="mb5">-->
                        <!--<textarea name="stores" class="form-control"  rows="5"></textarea>-->
            <!--</div>-->
             <!---->
            <!--<button type="submit" class="btn btn-primary">导出</button>-->
        <!--</form>-->
    <!--</div>-->
    </fieldset>
    <fieldset class="pro-sel">
<!--         <div class="mb5">
        <form class="form-inline" role="form" enctype="multipart/form-data" method="post" action="{% url 'product_handle' %}">
            {% csrf_token %}
            <input type="hidden" name="type" value="export_pro_sorts">
            <label class="control-label" >Form:</label>
            <input type="text" class="date" name="from">
            <label class="control-label" >To:</label>
            <input type="text" class="date" name="to">
            <button type="submit" class="btn btn-primary">export_pro_sorts</button>
        </form>
        </div> -->
        <div class="mb5">
        <form class="form-inline" role="form" enctype="multipart/form-data" method="post" action="{% url 'product_handle' %}">
            {% csrf_token %}
            <input type="hidden" name="type" value="export_product_sorts">
            <label class="control-label" >Form:</label>
            <input type="text" class="date" name="from">
            <label class="control-label" >To:</label>
            <input type="text" class="date" name="to">
            <button type="submit" class="btn btn-primary">导出产品数据</button>
        </form>
        </div>
        <!--<div class='mb5'>
        <form class="form-inline" role="form" enctype="multipart/form-data" method="post" action="{% url 'product_handle' %}">
            {% csrf_token %}
            <input type="hidden" name="type" value="export_pro_detail">
            <label class="control-label" for="fileInput">Form:</label>
            <input type="text" class="date" name="from">
            <label class="control-label" for="fileInput">To:</label>
            <input type="text" class="date" name="to">
            <button type="submit" class="btn btn-primary">导出产品详情信息</button>
        </form>
        </div> -->
        <div class='mb5'>
        <form class="form-inline" role="form" enctype="multipart/form-data" method="post" action="{% url 'product_handle' %}">
            {% csrf_token %}
            <input type="hidden" name="type" value="export_products">
            <label class="control-label" >Form:</label>
            <input type="text" class="date" name="from">
            <label class="control-label" >To:</label>
            <input type="text" class="date" name="to">
            <select name="export_type">
                <option value="0">All products</option>
                <option value="1">显示的产品</option>
                <option value="2">上架的产品</option>
                <option value="3">显示并上架的产品</option>
            </select>
            <button type="submit" class="btn btn-primary">导出产品</button>
        </form>
        </div>
        <div class="mb5">
        <form class="form-inline" role="form" enctype="multipart/form-data" method="post" action="{% url 'product_handle' %}">
            {% csrf_token %}
            <input type="hidden" name="type" value="export_product_taobao">
            <label class="control-label" >导出产品采购信息:</label>
            <select name="taobao_type">
                <option value="0">All product</option>
                <option value="1">显示并上架</option>
            </select>
            <button type="submit" class="btn btn-primary">导出</button>
        </form>
        </div>
        <hr>
        <!-- <div class="mb5">
            <form class="form-inline" role="form" enctype="multipart/form-data" method="post" action="{% url 'product_handle' %}">
                {% csrf_token %}
                <input type="hidden" name="type" value="export_extra_fee3_product">

                <button type="submit" class="btn btn-primary">导出extra_fee为3的产品</button>
            </form>
        </div> -->
        <div class="mb5">
            <form class="form-inline" role="form" enctype="multipart/form-data" method="post" action="{% url 'product_handle' %}">
                {% csrf_token %}
                <input type="hidden" name="type" value="export_product_prell">

                <button type="submit" class="btn btn-primary">导出预售产品信息</button>
            </form>
        </div>
       <!-- <div class="mb5">
            <form class="form-inline" role="form" enctype="multipart/form-data" method="post" action="{% url 'product_handle' %}">
                {% csrf_token %}
                <input type="hidden" name="type" value="export_no_fsale_product">

                <button type="submit" class="btn btn-primary">Export No Sale products</button>
            </form>
        </div>
        <div class="mb5">
            <form class="form-inline" role="form" enctype="multipart/form-data" method="post" action="{% url 'product_handle' %}">
                {% csrf_token %}
                <input type="hidden" name="type" value="export_productstatus">
                <button type="submit" class="btn btn-primary">导出下架有库存的产品</button>
            </form>
        </div>-->
<!--         <div class="mb5">
            <form class="form-inline" role="form" enctype="multipart/form-data" method="post" action="{% url 'product_handle' %}">
                {% csrf_token %}
                <input type="hidden" name="type" value="export_product_outstock">
                <button type="submit" class="btn btn-primary">导出下架并显示的产品</button>
            </form>
        </div> -->
        <div class="mb5">
            <form class="form-inline" role="form" enctype="multipart/form-data" method="post" action="{% url 'product_handle' %}">
                {% csrf_token %}
                <input type="hidden" name="type" value="export_product_stock_status">
                <button type="submit" class="btn btn-primary">导出限制库存choies未上架尺码的产品</button>
            </form>
        </div>  
    </fieldset>
</div>
</fieldset>

<!--<fieldset class="pro-sel">-->
<!--<div class="sel-box">-->
    <!--<h3>货品供应商\图片\成本信息展示</h3>-->
    <!--<div class="sel-li">-->
        <!--<form class="form-inline" role="form" enctype="multipart/form-data" method="post" action="{% url 'product_handle' %}" name="myFrom" target="_blank">-->
            <!--{% csrf_token %}-->
            <!--<div class="mb5">-->
                         <!--<input type="hidden" name="type" value="get_product_supplier_by_ws_sku">-->
                        <!--<label>输入sku(请用enter换行分割): </label>-->
            <!--</div>-->
            <!--<div class="mb5">-->
                        <!--<textarea name="skus_supplier"  class="form-control"  rows="5"></textarea>-->
            <!--</div>-->
                    <!--<div>-->
                        <!--<label class="control-label" >仓库选择:</label>-->
                        <!--<table class="table table-bordered">-->
                        <!--<thead class="mb5">-->
                            <!--<tr>-->
                                <!--<th style="width:80px">-->
                                    <!--<input type="checkbox" id="checkall_depot_supplier"  onclick="selectAll('checkall_depot_supplier','depot_id_supplier')">仓库ID -->
                                    <!--</th>-->
                                <!--<th>仓库名称</th>-->
                            <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody class="mb5">-->
                        <!--{% for obj in depot %}-->
                            <!--<tr>-->
                                <!--<td><input type="checkbox" name="depot_id_supplier" value="{{ obj.id }}">{{ obj.id }}</td>-->
                                <!--<td>{{obj.name }}</td>-->
                            <!--</tr>-->
                        <!--{% endfor %}-->
                        <!--</tbody>-->
                        <!--</table>-->
                    <!--</div>-->
            <!--<input type="text"  id="record" name="record" value="" hidden="hidden">-->
            <!--<button type="submit" class="btn btn-primary" onclick="submitForm('product_supplier_show')"  >显示</button>-->
            <!--<button type="submit" class="btn btn-primary" onclick="submitForm('product_supplier_export')" >导出</button>-->

        <!--</form>-->
    <!--</div>-->
<!--</div>-->
<!--</fieldset>-->

<script type="text/javascript">
    $('.date').cxCalendar();

    function selectAll(selelct_all,checkbox_name) {
        var obj = document.getElementById(selelct_all);
        var cks = document.getElementsByTagName("input");
        var ckslen = cks.length;
        if (obj.checked){
            for(var i=0;i<ckslen;i++) {
                if(cks[i].type == "checkbox" && cks[i].name==checkbox_name) {
                    cks[i].checked = true;
                }
            }
        }else{
            for(var i=0;i<ckslen;i++) {
                if(cks[i].type == "checkbox" && cks[i].name==checkbox_name) {
                    cks[i].checked = false;
                }
            }
        }
    }

    function submitForm(method){
        if(method == 'product_supplier_show'){
            document.getElementById('record').value = 'search';
            document.myFrom.submit();
        }
        if(method == 'product_supplier_export'){
            document.getElementById('record').value = 'export';
            document.myFrom.submit();
        }
    }
</script>

<script>
    $(function(){
        $('select').searchableSelect();
    });
</script>
{% endblock %}
