{% extends "base_header.html" %}
{% block content %}
{% include "cxcalendar.html" %}

<fieldset class="pro-sel">
<div class="sel-box">
    <h3>{{ tag.name }}下关联的SKU</h3>
    <div class="sel-li">
        <br>
        <table>
        {% if not products%}
            <tr>
                <td>no result</td>
            </tr>
        {% else %}
            {% for product in products %}
                {% for i in product %}
                        <tr>
                            <td>{{ i.sku }}</td>
                        </tr>
                {% endfor %}
            {% endfor %}
        {% endif %}
        </table>

    </div>
</div>
</fieldset>




<script type="text/javascript">
    $('.date').cxCalendar();

    function selectAll(selelct_all,checkbox_name) {
        var obj = document.getElementById(selelct_all);
        var cks = document.getElementsByTagName("input");
        var ckslen = cks.length;
        if (obj.checked){
            for(var i=0;i<ckslen;i++) {
                if(cks[i].type == "checkbox" && cks[i].name==checkbox_name) {
                    cks[i].checked = true;
                }
            }
        }else{
            for(var i=0;i<ckslen;i++) {
                if(cks[i].type == "checkbox" && cks[i].name==checkbox_name) {
                    cks[i].checked = false;
                }
            }
        }
    }

    function submitForm(method){
        if(method == 'product_supplier_show'){
            document.getElementById('record').value = 'search';
            document.myFrom.submit();
        }
        if(method == 'product_supplier_export'){
            document.getElementById('record').value = 'export';
            document.myFrom.submit();
        }
    }
</script>
{% endblock %}
